header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   background-color: white;
   height: 96px;
   padding: 0px 32px;

   .icon {
      @media screen and (max-width: 700px) {
         display: none;
      }
      &-small {
         display: none;
         @media screen and (max-width: 700px) {
            display: unset;
         }
      }
   }

   .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap:16px;
      text-decoration: none;

      .hidden {
         display: none;
      }

      .shown {
         position: relative;

         p {
            width: 100%;
            position: absolute;
            text-align: center;
            top:40%;
            //left:35%;
            margin:0;
            color: var(--clr-white);
            font-family: var(--fnt-family-recoleta);
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: 100%; /* 20px */
         }
      }

      h3 {
         color: var(--clr-db);
         font-family: var(--fnt-family-opensans);
         font-size: 16px;
         font-style: normal;
         font-weight: 700;
         line-height: 100%; /* 16px */
         text-transform: uppercase;
         inline-size: 60%;

         @media screen and (max-width: 700px) {
            display: none;
         }
      }
   }

}