@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap");
@import 'shop', 'header', 'cart', 'popup';

@font-face {
   font-family: 'Recoleta';
   font-style: normal;
   font-weight: normal;
   src: local('Recoleta Regular DEMO'), url('../fonts/Recoleta-RegularDEMO.woff') format('woff');
}


:root {
   --clr-lc: #FEF2E8;
   --clr-db: #023A6B;
   --clr-orange: #FF7733;
   --clr-orange2: #F73;
   --clr-white: #FFF;

   --fnt-size-h1: 48px;
   --fnt-size-h2: 36px;
   --fnt-size-h3: 24px;
   --fnt-size-p: 18px;

   --animation-dur: 0.5s ease;

   --fnt-family-opensans: "Open Sans", sans-serif;
   --fnt-family-eczar: "Eczar", sans-serif;
   --fnt-family-recoleta: "Recoleta", sans-serif;
}



body {
   margin: auto;
   background-color: var(--clr-lc);
}

@keyframes rotate {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
}








