@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap");
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0 76px;
}
@media screen and (max-width: 900px) {
  .container {
    margin: 32px 0 76px !important;
  }
}
.container .shop {
  width: 68%;
}
@media screen and (max-width: 700px) {
  .container .shop {
    width: 85%;
  }
}
.container .shop h1 {
  margin: 0;
  margin-bottom: 64px;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  inline-size: 70%;
}
@media screen and (max-width: 1200px) {
  .container .shop h1 {
    font-size: 40px;
    inline-size: 100%;
    line-height: 130%;
  }
}
@media screen and (max-width: 900px) {
  .container .shop h1 {
    margin-bottom: 24px;
    font-size: 32px;
  }
}
@media screen and (max-width: 500px) {
  .container .shop h1 {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
.container .shop .products {
  list-style: none;
  -moz-columns: 3;
       columns: 3;
  -moz-column-gap: 48px;
       column-gap: 48px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .container .shop .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }
}
@media screen and (max-width: 670px) {
  .container .shop .products {
    row-gap: 0;
  }
}
@media screen and (max-width: 670px) {
  .container .shop .products li {
    border-bottom: 2px solid var(--clr-white);
    padding-bottom: 40px;
    margin-top: 40px;
  }
}
.container .shop .products form .image {
  position: relative;
  display: inline-block;
  transition: transform 150ms ease-in-out;
}
.container .shop .products form .svg-arabic {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  animation: rotate 5500ms infinite linear;
}
.container .shop .description {
  margin-bottom: 16px;
}
.container .shop .description .upper {
  margin: 24px 0 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.container .shop .description p {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.container .shop .description .price {
  border-radius: 16px;
  background: var(--orange, #F73);
  color: var(--clr-white);
  font-family: var(--fnt-family-eczar);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  max-width: 42px;
  max-height: 20px;
  padding: 3px 2px 0;
}
.container .shop .description .options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container .shop .description .options input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container .shop .description .options input[type=checkbox]:checked ~ .checkmark {
  background-color: #FFBD5C;
}
.container .shop .description .options input[type=checkbox]:checked ~ .checkmark::before {
  display: block;
}
.container .shop .description .options input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.container .shop .description .options input[type=radio]:checked ~ .radio:after {
  display: block;
}
.container .shop .description .options .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 10px;
}
.container .shop .description .options .checkmark::before {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.container .shop .description .options .radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
}
.container .shop .description .options .radio::after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #F73;
}
.container .shop .description .options .ratios {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.container .shop .description .options .ratio {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .shop .description .options p {
  padding: 5px 0 0 35px;
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.container .shop .description .sugar {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.container .shop .description .sugar p {
  padding: 5px 0 0 35px;
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.container .shop .description .sugar::after {
  content: "";
  position: absolute;
  display: none;
}
.container .shop .atc {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.container .shop .atc button {
  background-color: transparent;
  border-radius: 64px;
  border: 2px solid var(--yellow, #FFBD5C);
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding: 16px 24px;
  transition: background-color 0.3s ease-in-out;
}
.container .shop .atc button:hover {
  background-color: #FFBD5C;
}
.container .shop .atc img {
  transition: transform 0.3s ease-in-out;
}
.container .shop .atc img:hover {
  transform: scale(1.2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  height: 96px;
  padding: 0px 32px;
}
@media screen and (max-width: 700px) {
  header .icon {
    display: none;
  }
}
header .icon-small {
  display: none;
}
@media screen and (max-width: 700px) {
  header .icon-small {
    display: unset;
  }
}
header .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  text-decoration: none;
}
header .cart .hidden {
  display: none;
}
header .cart .shown {
  position: relative;
}
header .cart .shown p {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 40%;
  margin: 0;
  color: var(--clr-white);
  font-family: var(--fnt-family-recoleta);
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 20px */
}
header .cart h3 {
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  inline-size: 60%;
}
@media screen and (max-width: 700px) {
  header .cart h3 {
    display: none;
  }
}

*:focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0px 76px 0px;
}
.container .cart {
  width: 68%;
}
@media screen and (max-width: 700px) {
  .container .cart {
    width: 90%;
  }
}
.container .cart h1 {
  margin: 0;
  margin-bottom: 64px;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: var(--fnt-size-h1);
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 57.6px */
  inline-size: 70%;
}
@media screen and (max-width: 1200px) {
  .container .cart h1 {
    font-size: 32px;
  }
}
.container .cart .summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 48px;
}
@media screen and (max-width: 1400px) {
  .container .cart .summary {
    flex-direction: column;
  }
}
.container .cart .cart-items {
  list-style: none;
  padding: 0;
  width: 70%;
}
@media screen and (max-width: 1400px) {
  .container .cart .cart-items {
    width: 100%;
  }
}
.container .cart .cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid var(--clr-white);
  padding-bottom: 24px;
  margin-top: 24px;
}
@media screen and (max-width: 800px) {
  .container .cart .cart-items li {
    display: grid;
  }
}
.container .cart .cart-items li .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  .container .cart .cart-items li .right {
    grid-column: span 2;
    justify-self: center;
  }
}
.container .cart .cart-items .quantity {
  border-radius: 24px;
  border: 2px solid var(--yellow, #FFBD5C);
  background: var(--light-cream, #FEF2E8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .cart .cart-items .quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
@media screen and (max-width: 800px) {
  .container .cart .cart-items .quantity-container {
    grid-column: span 2;
    justify-self: center;
    margin-left: 100px;
  }
}
@media screen and (max-width: 400px) {
  .container .cart .cart-items .quantity-container {
    margin-left: 120px;
  }
}
.container .cart .cart-items .quantity-container svg {
  padding-bottom: 3px;
}
.container .cart .cart-items .quantity input {
  background-color: transparent;
  border: none;
  width: 45px;
  text-align: center;
  margin: 12px 0px;
  padding-bottom: 5px;
  padding-right: 12px;
  color: var(--clr-db);
  text-align: center;
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}
.container .cart .cart-items .quantity input::-webkit-outer-spin-button, .container .cart .cart-items .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .cart .cart-items .quantity input:focus {
  border: none;
}
.container .cart .cart-items .quantity button {
  background: transparent;
  border: none;
}
.container .cart .cart-items .quantity .substract {
  margin-right: 10px;
}
.container .cart .cart-items .quantity img {
  padding-bottom: 0;
  margin: 0px 5px;
}
.container .cart .description {
  margin: 0px 32px 0px 38px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 400px) {
  .container .cart .description {
    margin: 0px 0px 0px 20px;
  }
}
.container .cart .description .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.container .cart .description .price div {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  align-self: flex-start;
  border-radius: 16px;
  background: var(--orange, #F73);
  color: var(--clr-white);
  font-family: var(--fnt-family-eczar);
  text-align: center;
  max-width: 63px;
  max-height: 29px;
  padding: 4px 4px 0px 4px;
}
.container .cart .description h4 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
.container .cart .description .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}
.container .cart .description .additional {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.container .cart .description .additional div {
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.container .cart .checkout {
  padding: 32px 24px 24px 24px;
}
.container .cart .checkout-container {
  border-radius: 16px;
  background: var(--clr-white);
  width: 30%;
}
@media screen and (max-width: 1400px) {
  .container .cart .checkout-container {
    width: 100%;
  }
}
.container .cart .checkout h4 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}
.container .cart .checkout .rates {
  list-style: none;
  padding: 0;
  width: unset;
  border-bottom: 2px solid #F0F0F0;
}
.container .cart .checkout .rates li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 16px 0px !important;
  padding: 0 !important;
}
@media screen and (max-width: 1400px) {
  .container .cart .checkout .rates li {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1400px) {
  .container .cart .checkout .rates li {
    flex-direction: row;
    justify-content: space-between;
  }
}
.container .cart .checkout .rates h4 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.container .cart .checkout .rates div {
  margin: 0;
  color: var(--clr-orange2);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.container .cart .checkout button {
  border-radius: 64px;
  border: 2px solid var(--clr-orange2);
  background-color: transparent;
  color: var(--clr-db);
  text-align: center;
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  padding: 16px 24px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
}
.container .cart .checkout button:hover {
  background-color: var(--clr-orange2);
}
.container .cart .delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 16px 0px;
}
.container .cart .delivery h4 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.container .cart .delivery div {
  margin: 0;
  color: var(--clr-orange2);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}

.popup {
  position: fixed;
  right: -100%; /* Initial position, set outside the viewport */
  width: 440px;
  height: 100%; /* Height of the popup */
  transition: right 0.5s; /* The transition effect */
  background-color: var(--clr-white);
  z-index: 100;
  border-radius: 24px 0px 0px 24px;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
}
@media screen and (max-width: 450px) {
  .popup {
    width: 350px;
  }
}
@media screen and (max-width: 360px) {
  .popup {
    width: 300px;
  }
}
.popup .ppinfo {
  margin: 48px 40px 40px 40px;
}
@media screen and (max-width: 450px) {
  .popup .ppinfo {
    margin: 24px 20px 20px 20px;
  }
}
@media screen and (max-width: 360px) {
  .popup .ppinfo {
    width: 90%;
  }
}
.popup .ppinfo .price {
  margin-bottom: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.popup .ppinfo .price h1 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
.popup .ppinfo .price p {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  align-self: flex-start;
  margin: 0;
  border-radius: 16px;
  background: var(--orange, #F73);
  color: var(--clr-white);
  font-family: var(--fnt-family-eczar);
  text-align: center;
  max-width: 63px;
  max-height: 29px;
  padding: 4px 4px 0px 4px;
}
.popup .ppinfo img {
  justify-self: flex-start;
}
.popup .ppinfo ul {
  list-style: none;
  padding: 0;
}
.popup .ppinfo ul.compound {
  margin-top: 16px;
  border-bottom: 2px solid #F0F0F0;
  border-top: 2px solid #F0F0F0;
}
.popup .ppinfo ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 16px 0px;
}
.popup .ppinfo ul h4 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.popup .ppinfo ul p {
  margin: 0;
  color: var(--clr-orange2);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.popup .ppinfo button {
  margin-top: 100px;
  border-radius: 64px;
  border: 2px solid var(--clr-orange2);
  background-color: transparent;
  color: var(--clr-db);
  text-align: center;
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  padding: 16px 24px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
}
.popup .ppinfo button:hover {
  background-color: var(--clr-orange2);
}

@font-face {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: normal;
  src: local("Recoleta Regular DEMO"), url("../fonts/Recoleta-RegularDEMO.woff") format("woff");
}
:root {
  --clr-lc: #FEF2E8;
  --clr-db: #023A6B;
  --clr-orange: #FF7733;
  --clr-orange2: #F73;
  --clr-white: #FFF;
  --fnt-size-h1: 48px;
  --fnt-size-h2: 36px;
  --fnt-size-h3: 24px;
  --fnt-size-p: 18px;
  --animation-dur: 0.5s ease;
  --fnt-family-opensans: "Open Sans", sans-serif;
  --fnt-family-eczar: "Eczar", sans-serif;
  --fnt-family-recoleta: "Recoleta", sans-serif;
}

body {
  margin: auto;
  background-color: var(--clr-lc);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */